.loadmore {text-align: center; margin-bottom: 14px;}
#show-more {
    text-decoration: none;
    font-size: 32px;
    color: #444;
    cursor: pointer;
    transition: all .2s ease-out;
}
#show-more:hover {color: #777;}
#show-more:before {content:'⏰️';}
#show-more:hover:before {content:'💊';}

#gotop {
    display: inline;
    color: #ddd;
    text-decoration: none;
    position:fixed;
    font-size: 36px;
    bottom: 35px;
    right: 30px;
    cursor:pointer;
    padding: 8px;
    transition: all .2s ease-out;
}
#gotop:before {content: '🐸'}
#gotop:hover:before {content: '🐻'}


pre code {
    white-space: pre-line;
}

/* =文章页Banner
----------------------------------------------- */
.metabar-normal {
    text-shadow: 0px 0px 2px #000;
    box-shadow: none;
}

.article-title-banner {
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}


/* 基本内容 */
/* =文章/页面正文
----------------------------------------------- */
.article-title {margin-bottom:10px}

.article-content {margin-bottom: 30px}
.article-content a {text-decoration: underline}
/* img 包裹在了 a 之中用于显示 图像*/
.article-content div a img {max-width: 100%;height: auto;border: solid 1px #ddd;}
.article-content div a img:hover {}
.article-content ul,.article-content ol {padding-left: 20px;margin: 14px 0;line-height: 36px;}
.article-content h1,
.article-content h2 {
    margin:24px 0;
    padding-left: 24px;
    /*margin-left: -26px;*/
    border-left: solid 2px #47c;
    background-color: rgba(0,153,255,0.03);
    line-height: 46px;
}
.article-content code{
    white-space: pre-wrap;
}


.wp-smiley {height: 32px !important;border: none !important;}
.wp-caption {max-width: 100%}
.wp-caption img {}
.wp-caption p.wp-caption-text {
    /*font-size: 16px;*/
    text-indent: 0;
    text-align: center;
}
.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {float: left; margin-right:10px;}
.alignright {float: right; margin-left:10px;}
table {
    width: 100%;
    border-spacing:0;
    border-left: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    margin: 18px 0;
}
th {
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    /*font-size: 20px;*/
    padding: 6px 6px 6px 12px;
    background: #CAE8EA no-repeat;
}
td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    /*font-size: 17px;*/
    word-break: break-all;
}
td.alt {background: #F5FAFA;color: #797268;}
th.spec,td.spec {border-left: 1px solid #C1DAD7;}
tr:nth-child(odd) {background: #fff;}
tr:nth-child(even) {background: #F5FAFA;}



/*文章目录*/
.article-category-parent{
    top: 0px;
}
.meta-image-sigle{
    background-position: center;
}

/* =文章翻页+评论翻页
----------------------------------------------- */
.navigation {text-align:center; margin: 50px 0;}
.commentnav {text-align:right; margin: 20px 0;}
.page-numbers {
    font-size: 24px;
    color:#aaa;
    padding:3px 6px;
    margin:0px 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-out;
}
span.page-numbers.current {color:#fff; background:#aaa;border-color: #aaa;}
span.page-numbers.dots {border:none;}
/*span.page-numbers.page_previous {margin-right:6px;}*/
/*span.page-numbers.page_next {margin-left:6px;}*/
a:hover.page-numbers {color: #fff; background: #ddd; text-shadow: none; border-color:#ddd;}


/* =自适应
----------------------------------------------- */
/*@media screen and (max-width: 960px) {*/
/*	.header, .container {width: 96%;min-width: auto;}*/
/*	.sidebar {width: 100%;float: none;clear: both;border: none;text-align: center;}*/
/*	#searchform #s {float:none;}*/
/*	.posts {width: 100%;margin-bottom: 20px;padding-bottom: 20px;border-bottom: 2px dashed #eee;}*/
/*	.page-side {float: none;}*/
/*	.page-content {float: none;width: 100%;}*/
/*}*/
/*@media screen and (max-width: 680px){*/
/*	#gotop {display: none;}*/
/*	.post .summary {margin-left:0;}*/
/*	.metabar {background-image: none;}*/
/*	.smiles {display: block;float: none;}*/
/*}*/

.article-head-container{
    max-height: 70%;
    overflow-y: scroll;
}
aside.widget_archive label{
    display: none; /* 不显示多余的归档的标签*/
}